---
layout: archive
permalink: /cafe.html
title: Café
---

<header>
  <h1>/{{ page.title }}</h1>
</header>

Posts sobre cuestiones que escapan de la ciencia de dato. Desde política científica hasta temas filósificos.

<div class="archive-items">
  <ul>
{% for post in site.categories.cafe %}
{% include index/archive-item.html %}
{% endfor %}
  </ul>
{% include index/link-archive-back.html %}
</div>

{{ content }}


{% for post in site.categories.cafe %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a>{{ post.excerpt }}</li>
{% endfor %}
